<!DOCTYPE html>
<html>
  <head>
    <title>Shor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body> 

<header>
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Hardware & Software", services_hardware_path %></li>
  <li><%= link_to "IT Support Services", services_support_path %></li>
  <li><%= link_to "Network Services", services_network_path %></li>
  <li><%= link_to "IP Phone Services", services_IPphone_path %></li>  
  <li><%= link_to "Cloud Solutions & Services", services_cloud_path %></li>  
  <li><%= link_to "Cyber Security Services", services_security_path %></li>  
</ul>

<nav>
<div class="container">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">ShorIT</a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="/about">About us</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>
</nav>
</header>

<main>
  <%= yield %>
</main>

  </body>
</html>
