<!DOCTYPE html>
<html>
  <head>
    <title>Shor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body> 

<header>
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Hardware & Software", services_hardware_path %></li>
  <li><%= link_to "IT Support Services", services_support_path %></li>
  <li><%= link_to "Network Services", services_network_path %></li>
  <li><%= link_to "IP Phone Services", services_IPphone_path %></li>
  <li><%= link_to "Cloud Solutions & Services", services_cloud_path %></li>  
  <li><%= link_to "Cyber Security Services", services_security_path %></li>  
</ul>

<nav>
<div class="container">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">
      <%= image_tag "logo.png", :class => "navbar-logo" %>      
    </a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="/about">About us</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>
</nav>
</header>

<main>
  <%= yield %>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="footer-wrap">
          <div class="footer-wrap_logo">
            <%= image_tag "logo.png", :class => "footer-logo" %>
          </div>
          <div class="footer-wrap_socials">
            <p>Social media</p>
            <%= image_tag "facebook.svg" %>                        
            <%= image_tag "instagram.svg" %>
          </div>   
      
          <div class="footer-wrap_logo">
            <p>Services</p>
            <ul>
              <li>
                Hardware & Software
              </li>
              <li>
                IT Support Services
              </li>
              <li>
                Network Services
              </li>
              <li>
                IP Phone Services
              </li>
              <li>
                Cloud Solutions & Services
              </li>
              <li>
                Cyber Security Services
              </li>                          
            </ul>
          </div>
          <div class="footer-wrap_socials">
            <p>Contact</p>
            <ul>
              <li>
                Yo
              </li>
              <li>
                Sup
              </li>
              <li>
                Bruh
              </li>
            </ul>        
          </div>   
      </div>
    </div>
  </div>
    <div class="footer-copyright">
      <div class="container">
            © 2019
      <a class="grey-text text-lighten-4 right" href="#!">Tikken</a>
    </div>
  </div>
</footer>

  </body>
</html>
